In [1]:
#Importing necessary libraries
import numpy as np
import pandas as pd
import json

In [2]:
#Fetching the json file i have created with all the info provided to me
file = open('bmi_data.json')
data = json.load(file)
data

[{'Gender': 'Male', 'HeightCm': 171, 'WeightKg': 96},
 {'Gender': 'Male', 'HeightCm': 161, 'WeightKg': 85},
 {'Gender': 'Male', 'HeightCm': 180, 'WeightKg': 77},
 {'Gender': 'Female', 'HeightCm': 166, 'WeightKg': 62},
 {'Gender': 'Female', 'HeightCm': 150, 'WeightKg': 70},
 {'Gender': 'Female', 'HeightCm': 167, 'WeightKg': 82}]

In [ ]:
#Calculating BMI
def BMI(weight, height, kg=True, m=False):

  if kg==False:
    weight = weight/1000

  if m==False:
    height = height/100

  bmi = round(weight/(height**2),2)

  return bmi

In [ ]:
#Counting number of people in each category
def counting_cats(df):
  bin_list = [0, 18.4, 24.9, 29.9, 34.9, 39.9, np.inf]
  labels_category = ['Underweight', 'Normal weight', 'Overweight', 'Moderately obese', 'Severely obese', 'Very severely obese']
  labels_healthrisk= ['Malnutrition risk', 'Low risk', 'Enhanced risk', 'Medium risk', 'High risk', 'Very high risk']
  df['BMI Category']  = pd.cut(Final_df['BMI'],bin_list, labels=labels_category)
  df['Health risk']  = pd.cut(Final_df['BMI'],bin_list, labels=labels_healthrisk)
  return df

In [3]:
# Creating A dataframe from the json file.
Final_df = pd.DataFrame(data)
Final_df

   Gender  HeightCm  WeightKg
0    Male       171        96
1    Male       161        85
2    Male       180        77
3  Female       166        62
4  Female       150        70
5  Female       167        82

In [5]:
#Creating a new column(BMI).
Final_df['BMI'] = Final_df.apply(lambda x: BMI(x['WeightKg'], x['HeightCm'], kg=True, m=False), axis=1)
Final_df

   Gender  HeightCm  WeightKg    BMI
0    Male       171        96  32.83
1    Male       161        85  32.79
2    Male       180        77  23.77
3  Female       166        62  22.50
4  Female       150        70  31.11
5  Female       167        82  29.40

In [14]:
# #Creating a new column(BMI) and dump into a json file.
BMI_Table_FromJson(data)

'{"columns":["Gender","HeightCm","WeightKg","BMI"],"index":[0,1,2,3,4,5],"data":[["Male",171,96,32.83],["Male",161,85,32.79],["Male",180,77,23.77],["Female",166,62,22.5],["Female",150,70,31.11],["Female",167,82,29.4]]}'

In [10]:
#Counting number of people in each category
bin_list = [0, 18.4, 24.9, 29.9, 34.9, 39.9, np.inf]
labels_category = ['Underweight', 'Normal weight', 'Overweight', 'Moderately obese', 'Severely obese', 'Very severely obese']
labels_healthrisk= ['Malnutrition risk', 'Low risk', 'Enhanced risk', 'Medium risk', 'High risk', 'Very high risk']
Final_df['BMI Category']  = pd.cut(Final_df['BMI'],bin_list, labels=labels_category)
Final_df['Health risk']  = pd.cut(Final_df['BMI'],bin_list, labels=labels_healthrisk)

In [11]:
Final_df

   Gender  HeightCm  WeightKg    BMI      BMI Category    Health risk
0    Male       171        96  32.83  Moderately obese    Medium risk
1    Male       161        85  32.79  Moderately obese    Medium risk
2    Male       180        77  23.77     Normal weight       Low risk
3  Female       166        62  22.50     Normal weight       Low risk
4  Female       150        70  31.11  Moderately obese    Medium risk
5  Female       167        82  29.40        Overweight  Enhanced risk

In [8]:
#Checking
len(Final_df[Final_df['BMI Category'] == 'Overweight'])

1

##Conclusion
Here in the above calculation we can see that there is one candidate(Female) having Overweight. 
Converted the whole operation and dumped into a json file.

In [4]:
#Calculating BMI
def BMI(weight, height, kg=True, m=False):

  if kg==False:
    weight = weight/1000

  if m==False:
    height = height/100

  bmi = round(weight/(height**2),2)

  return bmi

In [16]:
#Counting number of people in each category
def counting_cats(df):
  bin_list = [0, 18.4, 24.9, 29.9, 34.9, 39.9, np.inf]
  labels_category = ['Underweight', 'Normal weight', 'Overweight', 'Moderately obese', 'Severely obese', 'Very severely obese']
  labels_healthrisk= ['Malnutrition risk', 'Low risk', 'Enhanced risk', 'Medium risk', 'High risk', 'Very high risk']
  df['BMI Category']  = pd.cut(Final_df['BMI'],bin_list, labels=labels_category)
  df['Health risk']  = pd.cut(Final_df['BMI'],bin_list, labels=labels_healthrisk)
  return df

In [17]:
# BMI_Table_FromJson is taking a json file and receiving a json file
def BMI_Table_FromJson(table_json):
  Final_df = pd.DataFrame(table_json)
  Final_df['BMI'] = Final_df.apply(lambda x: BMI(x['WeightKg'], x['HeightCm'], kg=True, m=False), axis=1)
  #Counting number of people in each category
  out_df=counting_cats(Final_df)
  return out_df.to_json(orient="split")

In [18]:
# Obese_Count will receive a json file and returning an interger 
def Obese_Count(table_json):
  Final_df = pd.DataFrame(table_json)
  Final_df['BMI'] = Final_df.apply(lambda x: BMI(x['WeightKg'], x['HeightCm'], kg=True, m=False), axis=1)
  #Counting number of people in each category
  out_df=counting_cats(Final_df)
  return len(out_df[out_df['BMI Category'] == 'Overweight'])

In [19]:
BMI_Table_FromJson(data)

'{"columns":["Gender","HeightCm","WeightKg","BMI","BMI Category","Health risk"],"index":[0,1,2,3,4,5],"data":[["Male",171,96,32.83,"Moderately obese","Medium risk"],["Male",161,85,32.79,"Moderately obese","Medium risk"],["Male",180,77,23.77,"Normal weight","Low risk"],["Female",166,62,22.5,"Normal weight","Low risk"],["Female",150,70,31.11,"Moderately obese","Medium risk"],["Female",167,82,29.4,"Overweight","Enhanced risk"]]}'

In [20]:
Obese_Count(data)

1